.login-form-container{
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    margin-top:20px !important;
    margin-bottom:40px !important;
}

.login-button {
    margin-top: 40px !important;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
    border: 3px solid #094b0f !important;
    width: 100%;

}

.field-item {
    padding:4px !important;
}

