.transfer-main-grid {
    display: flex !important;
    justify-content: space-around !important;
    align-items: flex-start !important;
    margin-top: 25px !important;
   
}



.transfer-action-buttons-box{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    margin-top: 64px !important;
    margin-bottom: 0px !important;
  }
