.landing-buttons-box{
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.btnStyle {
    margin-left: 5px !important;
    margin-right: 5px !important;
}