

.header-app-bar {
    background-color: #ffffff;
    align-items: center;
    box-shadow: none;
    border-bottom: 1px solid #b2b9bf;
  }

  .header-tool-bar {
    background-color: #ffffff;
    width: 100%;
  }

  .header-main-grid {
    height: 120px;
  }

  .header-profile{
    height: 49px;
    margin-top: 16px;
    margin-right: 70px;
    color: black;
  }

  .logo-img{
    margin-top: 21px;
    margin-left: 70px;
    margin-bottom: 21px;
  }

  .copyright-text {
    margin-top: 30px;
    margin-bottom: 30px;
      margin-left: 20px;
    
  }


